:root {
    --text-primary-color: rgb(233, 217, 0);
    --text-secondary-color: rgb(57, 107, 15);
    --canvas-color: rgb(29, 153, 202);
    --canvas-dark-color: rgb(25, 106, 138);
    --background-color: rgb(30, 30, 30);
}

body {
    background-color: var(--background-color);
    display: inline;
}

#title {
    font-size: 75px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: var(--text-primary-color)
}

#title:hover {
    color: var(--text-secondary-color);
}

#score {
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: var(--canvas-color)
}

#score:hover {
    color: var(--text-secondary-color);
}

#highscore {
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: var(--canvas-color)
}

#highscore:hover {
    color: var(--text-secondary-color);
}

#footer {
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: var(--text-primary-color)
}

#footer:hover {
    color: var(--text-secondary-color);
}

.button {
    width: 150px;
    height: 40px;
    background-color: var(--canvas-color);
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    font-size: large;
}

.button:hover {
    background: var(--canvas-dark-color);
}

#main>div {
    margin-bottom: 25px;
}

#main {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
}

#canvas {
    background-color: var(--canvas-color);
    border: 5px double black;
}